<launch>
    <arg name="params_file" default="$(find-pkg-share camera_preprocessing)/config/ros_params.yaml" />
    <arg name="debug" default="false" />

    <include file="$(var params_file)" />

    <node pkg="camera_preprocessing" exec="camera_preprocessing_node.py" name="camera_preprocessing_node" output="screen">
        <param name="debug" value="$(var debug)" />
    </node>
</launch>
